*{
  padding: 0px;
  margin: 0px;
}
body{
  padding: 0px;
  margin: 0px;
}

.chatBox{


  width: 500px;
  background-color: #7cb7b9;
  padding: 20px;
  border-radius: 10px;
  padding-top: 5px;
}
.textarea{
  width: 100%;
}
.centerBox{
  background-color: #D8E7F2;
      height: 100%;
      padding: 10px;
      border-radius: 10px;
}
button{

}

.yo{
  background-color: indianred;
  border-radius: 10px;
  /*height: 30px;*/
  padding: 5px;
  font-family: sans-serif;
  color: aliceblue;
  float:left;
  max-width: 100%;
  overflow-wrap: break-word;
  max-height: 45px;
  min-height: 20px;
  float: none;
  /*margin: 0px;*/
}
#chatBoxColumn {
    width: 75%;
    height: 100%;
}
.heading{
  padding: 5px;
  margin: 10px;
}
.middleRow{
  height: 330px;
}
.countBox{
width: 90px;
height: 100px;
position: relative;
background-color: cornsilk;
top: -362px;
left: 380px;
border-radius: 10px;
padding: 5px;
}
.type{
  height: 20px;
  padding: 2px;
  margin-top: 22px;
  width: 113px;
  margin-left: 5px;
  background-color: white;
  border-radius: 4px;
}
.form-row{
  height: 50px;
  width: 100%;
}
.type-row{
  height:50px;
}
form{
  float: left;
  width: 80%;
  margin-right: 20px;
}
